<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>about warren buffett</title>
</head>

<body>
    <div class="container">
    <a href="/home"> <img class="images-home" src="/images/profil.jpeg" /></a>
    <h1 class="title-about"> About Warren Buffett </h1>
    </div>
    <p class="paragraph-about"> Warren Buffett is one of the most successful investors of all time, his net worth is nearly $100 billion, making
        him the seventh-richest person in the world.
        At 11 years old, Buffett buys his first stock.
    </p>
    <h2 class="subtitle-button"> Warren Buffett Quotes </h2>
    <ul>
        <li>Rule No. 1 is never lose money. Rule No. 2 is never forget Rule No. 1.</li>
        <li>No matter how great the talent or efforts, some things just take time. You can’t produce a baby in one month
            by getting nine women pregnant.</li>
        <li>Price is what you pay, value is what you get.</li>
        <li> Wall Street is the only place that people ride to in a Rolls Royce to get advice from those who take the
            subway.</li>

    </ul>
</body>

</html>