<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Warren Buffett</title>
</head>

<body>
    <div class="title-name">
        <h1 class="name"> Warren Buffett</h1>
        <h1 class="title"> The Oracle Of Omaha </h1>
    </div>
    <img class="images" src="/images/profil.jpeg" />
    <br>
    <div class="button">
        <a href="/about"> <button class="about-home"> About Warren Buffett </button> </a>
        <a href="/works"> <button class="works-home"> Works of Warren Buffett </button> </a>
    </div>
</body>

</html>