<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>works of warren buffett</title>
</head>
<body>
    <div class="container">
        <a href="/home"> <img class="images-home" src="/images/profil.jpeg" /></a>
    
    <h1 class="title-works"> Some Works and Achievements </h1>
    </div>
    <ul>
        <li>He became the richest person in the world in 2008, with a total net worth estimated at $62 billion by Forbes</li>
        <li>In June 2006, Warren Buffett made an announcement that he would be gradually giving away 85% of his Berkshire holdings to five foundations, the largest contribution of which would go to the Bill and Melinda Gates Foundation.</li>
        <li>Warren Buffett was presented with the Presidential Medal of Freedom by President Barack Obama in 2011.</li>
    </ul>
</body>
</html>